%div(id="comment_#{comment.id}")
  .row
    .span16= comment.content.truncate(100)
    .span1= link_to "Удалить", [:admin, comment], method: :delete
  .row
    .span13= link_to comment.article.title.truncate(100), comment.article
    .span2= comment.deleted? ? "Удален" : raw("&nbsp;")
    .span4= comment.user.name
  %br
