= simple_form_for [:admin, @trend], html: {class: 'form-horizontal' } do |f|

  = f.input :name, label: "Имя"
  = f.input :description, label: "Описание"
  = f.input :active, label: "Активность"
  .form-actions
    - if params[:action] == "edit"
      = f.button :submit, 'Сохранить'
    - else
      = f.button :submit, 'Создать тренд.'
