.row
  %h3.span18.offset1= "Тренды - #{@trends.count}"
.row
  %table.table.span18.offset1
    %tr
      %th Имя
      %th Статей
      %th Активность
      %th Действия
    - @trends.each do |trend|
      %tr
        %td= link_to trend.name, admin_trend_path(trend)
        %td= link_to trend.articles.count, admin_trend_path(trend)
        %td= link_to (trend.active? ? "Да" : "Нет"), admin_trend_path(trend)
        %td
          = link_to "Изменить", edit_admin_trend_path(trend)
          = link_to "Удалить", admin_trend_path(trend), method: :delete
