.message.alert.alert-info.span17.offset1
  %button.close(data-dismiss="alert" type="button")×
  = link_to content_tag("h3", message.title), messages_path
  = Nokogiri::HTML(message.text).text[0..300]
  .row
    .span2.offset15= link_to " Дальше", messages_path
