%h2 Регистрация

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification message: "Пожалуйста, обратите внимание на возникшие проблемы ниже:"

  .form-inputs
    = f.input :name, required: true, autofocus: true, label: "Имя"
    = f.input :email, required: true, autofocus: true, label: "Почтовый ящик"
    - if f.object.password_required?
      = f.input :password, required: true, label: "Пароль"
      = f.input :password_confirmation, required: true, label: "Подтверждение пароля"

  .form-actions
    = f.button :submit, "Регистрация"

= render "devise/shared/links"
