.comment_body.row
  .comment_content
    = comment.get_content
.comment_info.row
  .user.span4
    = comment.user_name
  .comment_date.span5
    = comment.published_date
  .comment_actions
    = link_to "Удалить", comment_path(comment), method: :delete, class: "destroy" if permitted_to? :delete, comment
    = link_to "Ответить", new_comment_path(parent_id: comment, article_id: comment.article.id), class: "comment_reply" if permitted_to? :create, comment
