- if permitted_to?(:manage, :admin_articles)
  = form_for article do |f|
    .row
      .span12
        - @categories.each do |cat|
          = link_to cat.name, train_admin_article_path(article.id, cat_id: cat.id), method: :post
      .span2= link_to "Удалить", admin_article_path(article), method: :delete, remote: true, success: "hide_field()", class: "delete_article"
      .span2= link_to "Открепить", ungroup_admin_published_article_path(article) if defined?(nested)
    .row
      - active = article.shared ? 'label info' : ''
      .span3{class: active}= link_to "Поделиться", "http://multiposting.tk/message_sets/new", target: :blank, class: "share_button"
      .span4.offset1
        = link_to "Редактировать", edit_admin_article_path(article)
      .span3
        %i.icon-file
        = article.rating
    .row
      .span6
        = f.select :trend_id, options_for_select(@admin_trends.map{|t| [t.name, t.id]}, article.trend_id), {include_blank: true}, class: "choosen_select"
      .span6
        = f.select :tag_ids, options_for_select(@tags.map{|t| [t.name, t.id]}, article.tag_ids), {}, multiple: true, class: "choosen_select"
      .span4
        Прикреплено
        = f.check_box :sticky,{}, "true", "false"
  = render 'share_popup', article: article
  :javascript
    $('.choosen_select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '200px',
      placeholder_text: '\0'
    });
