= content_for :meta do
  = javascript_include_tag('tinymce')
= simple_form_for [:admin, @article] do |f|

  = f.input :title, label: "Заголовок"
  = f.input :summary, label: "Сводка"
  = f.input :text, label: "Текст", input_html: {class: "tinymce", cols: 150}
  :javascript
    tinyMCE.init({
      selector: '.tinymce',
      plugins: "media anchor link visualblocks code hr table textcolor image",
      width: 694,
      paste_data_images: true,
      language : 'ru',
      image_advtab: true,
      height: 500,
      toolbar1: "newdocument bold italic underline strikethrough alignleft aligncenter alignright alignjustify styleselect formatselect fontselect fontsizeselect cut copy paste bullist numlist outdent indent blockquote undo redo removeformat subscript superscript",
      toolbar2: "media link anchor visualblocks code hr textcolor image",
      tools: "inserttable"
    });
  = f.input :published, label: "Опубликовано"
  = f.input :sticky, label: "Прикреплено", as: :radio_buttons
  = f.association :news_source, include_blank: false, label: "Источник новости", input_html: {class: "choosen_select"}
  = f.association :category, include_blank: false, label: "Категория", input_html: {class: "choosen_select"}
  = f.association :trend, include_blank: true, label: "Тренд", input_html: {class: "choosen_select"}
  = f.input :img_url, label: "Ссылка на изображение", as: :string, :input_html => { :value => Article::DEFAULT_IMAGE }
  = f.input :url, label: "Ссылка на источник", as: :string
  = f.input :rating, label: "Рейтинг", as: :string
  = f.input :votes, label: "Лайки"
  = f.association :tags, label: "Тэги", input_html: {class: "choosen_select"}
  .form-actions
    - if params[:action] == "edit"
      = f.button :submit, 'Сохранить'
    - else
      = f.button :submit, 'Создать статью'
