.row
  .span18.offset1
    = link_to "Очистить все", admin_article_path(id: "all"), method: :delete
%ul.articles_container
  - @articles.each do |article|
    = render 'articles/article', article: article
