.row
  - unless article.img_url.blank?
    .news_img
      %a{href: article_path(article)}
        %img{src: article.img_url, alt: "Новости Дагестана"}
  %h3.news_header= link_to article.title, article
  %p.news_summary.span17= link_to raw(article.summary), article
