%li.news.row{id: "article_#{article.id}"}
  .span18.offset1
    - cache article do
      = render 'articles/article_header', article: article
      = render 'articles/article_info', article: article
    = render 'admin/articles/admin_articles_block', article: article, categories: @categories
    .similar.span16.offset1
      - article.nested_articles.each do |similar_article|
        = render 'articles/similar_article', article: similar_article
