.row.pagination
  - filter = @page_info[:original_filter]
  - filter_params = {source_id: filter[:source_id], cat_id: filter[:cat_id], trend_id: filter[:trend_id], tag_id: filter[:tag_id] }
  - if @page_info[:total] > 1

    - if @page_info[:previous_page]
      = link_to "&lt;".html_safe, articles_path({page: @page_info[:previous_page]}.merge(filter_params)), class: "previous_page"
    - else
      %span.previous_page.disabled &lt;

    - for page in @page_info[:pagination]
      - if page == "..."
        %span.gap ...
      - elsif page == @page_info[:page]
        %em.current= page
      - else
        = link_to page, articles_path({page: page}.merge(filter_params))

    - if @page_info[:next_page]
      = link_to "&gt;".html_safe, articles_path({page: @page_info[:next_page]}.merge(filter_params)), class: "next_page"
    - else
      %span.next_page.disabled &gt;
