%div(id="article_#{article.id}")
  .row
    - unless article.img_url.blank?
      .news_img
        %a{href: article_path(article)}
          %img{src: article.img_url, alt: "Новости Дагестана"}
    %h3.news_header= link_to article.title, article
  .row
    .source.span4
      %i.icon-circle-arrow-right
      = article_source_link(article)
    .date.span4
      %i.icon-time
      = article.published_date
    = render 'articles/votes_block', article: article
  .row
    = render 'admin/articles/admin_articles_block', article: article, categories: @categories, nested: true
