$('.articles_container').append('<%= j render(@articles) %>');
<%- if @page_info[:next_page] %>
  $('.pagination').replaceWith('<%= j render('pagination') %>');
<% else %>
  $('.pagination').html('<p><a href="<%= root_path %>"">По этой теме новостей больше нет, перейти на главную</a></p>');
<% end %>
