.span18.offset1
  = content_for :meta do
    %meta{property: "og:image", content: image_url_for(@article)}
    %meta{property: "og:description", content: @article.summary}
    %meta{property: "og:title", content: @article.title}
    %meta{property: "og:url", content: article_url(@article)}
  .news.row(itemscope="itemscope" itemtype="http://schema.org/Article")
    %meta(itemprop="url" content="#{article_url(@article)}")
    %meta(itemprop="articleSection" content="#{@article.category_name}")
    - if @article.img_url != Article::DEFAULT_IMAGE
      %meta(itemprop="image" content="#{@article.img_url}")
      %meta(itemprop="thumbnailUrl" content="#{@article.img_url}")
    .span17.news_body
      %h3.news_header(itemprop="headline")
        = @article.title
      .news_text(itemprop="articleBody")= raw(@article.text)
      .row
        .source.span8
          %a{href: "#{@article.url}", target: "_blank"}
            = @article.source_name
        .date.span5
          %meta(itemprop="datePublished" content="#{l @article.created_at, format: :machine}")
          = @article.published_date
      = render 'admin/articles/admin_articles_block', article: @article
      - if @similar_articles.length > 0
        .row.similar_articles_row
          .row
            %h3.span8 Похожие статьи:
          %ul.row.similar_articles_for_show
            - @similar_articles.each do |art|
              %li= link_to art.title.truncate(100), art
      .row
        .span17
          .ad3= render 'google_adsense_article'
      .row
        .span17
          %h2= link_to "Читать все новости", root_path
          %ul.nav.nav-tabs
            %li.active
              %a(href="#facebook_comments" data-toggle="tab") Facebook
            %li
              %a(href="#vkontakte_comments" data-toggle="tab") Вконтакте
            %li
              %a(href="#native" data-toggle="tab") Комментарии
          .tab-content#myTabContent
            #facebook_comments.tab-pane.active
              %fb:comments(href="http://kavigator.ru/articles/#{@article.id}" num_posts="20" width="680")
            #vkontakte_comments.tab-pane
              #vk_comments
              :javascript
                VK.Widgets.Comments("vk_comments", {limit: 10, width: "670", attach: "*"});
            #native.tab-pane.fade
              #comments.row
                .comments.span17
                  %h2
                    Комментарии
                    %small
                      Всего:
                      = @article.comments.count
                  - if permitted_to? :create, :comments
                    = render 'comments/form', comment: @comment
                  - else
                    = link_to "Зарегистируйтесь", new_user_registration_path
                    или
                    = link_to "Войдите", new_user_session_path
                    чтобы создавать комментарии.

                  = nested_comments(@comments.arrange) if @comments
                  = will_paginate @comments, next_label: h(">"), previous_label: h("<")
  .other_news_container
    %h3 Другие новости
    - @other_articles.each_slice(3) do |group|
      .row.other_news
        - group.each do |a|
          .span5.other_news_cell
            .news_img
              %a{href: article_path(a)}
                %img{src: a.img_url}
            .news_title
              = link_to a.title, article_path(a)
