%h2 Послать еще раз инструкции по подтверждению учетной записи

= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true

  .form-actions
    = f.button :submit, "Resend unlock instructions"

= render "devise/shared/links"
