- @messages.each do |message|
  .row
    .span10.offset1
      = link_to message.title, messages_path(message)
    .span5
      = link_to "Удалить", admin_message_path(message), method: :delete
      = link_to "Изменить", edit_admin_message_path(message)
