.row
  .span18.offset1
    = simple_form_for [:admin, @news_source], html: {class: 'form-horizontal' } do |f|

      = f.input :name,          label: "Имя"
      = f.input :url,           label: "Ссылка"
      = f.input :find_helper,   label: "Поиск в пределах", as: :string
      = f.input :ignore_helper, label: "Игнорировать", as: :string
      = f.input :active,        label: "Активность"
      = f.input :period,        label: "Периодичность проверки"

      .form-actions
        - if params[:action] == 'edit'
          = f.button :submit, "Сохранить изменения"
        - else
          = f.button :submit, "Создать источник новостей"
