.row
  .span18.offset1
    %h3= @news_source.name
    %h4= link_to @news_source.url, @news_source.url, target: "_blank"
.row
  .span18.offset1
    %h4= "Статей: #{@news_source.articles.count.to_s}"
    = render 'articles_table', articles: @news_source.articles.order(:created_at)
