.footer{
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  font-size: 12.025px;
  line-height: 18px;
  padding-top: 10px;
  padding: 8.5px;
  a{
    color: #E94C17;
  }
}
