= simple_form_for [:admin, @tag], html: {class: 'form-horizontal' } do |f|

  = f.input :name, label: "Имя"
  = f.input :description, label: "Описание"

  .form-actions
    - if params[:action] == "edit"
      = f.button :submit, 'Сохранить'
    - else
      = f.button :submit, 'Создать тег.'
