.row
  %h3.span18.offset1= "Теги - #{@tags.count}"
.row
  %table.table.span18.offset1
    %tr
      %th Имя
      %th Статей
      %th Действия
    - @tags.each do |tag|
      %tr
        %td= link_to tag.name, admin_tag_path(tag)
        %td= link_to tag.articles.count, admin_tag_path(tag)
        %td
          = link_to "Изменить", edit_admin_tag_path(tag)
          = link_to "Удалить", admin_tag_path(tag), method: :delete

