.categories, .trends {
  .navigation_local li{
    text-align: center;
    a{
      @include link(#707070, #dd5942, none, none);
      font-size: 1.4em;
      letter-spacing: -1px;
      font-weight: 300;
      &.active{
        color: #dd5942;
        border-bottom: 2px solid #dd5942;
      }
      &:hover{
        border-bottom: 2px solid #dd5942;
        @include transition(border-bottom 200ms ease-in-out);
      }
    }
    // margin-right: 18px;
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
      // float: right;
      margin-right: 0;
    }
    .dropdown-menu{
      @include border-radius(0);
    }
    &.btn-group{
      font-size: inherit;
      li{
        display: block;
        &:focus{
          background-color: white;
        }
        a{
          text-align: left;
          &:focus, &:hover{
            background-image: none;
            background-color: white;
          }
        }
      }
    }
  }
}
