.content{
  .nav.nav-tabs{
    li{
      a{
        @include border-radius(0);
        @include link(#707070, #dd5942, none, none);
      }
      &.active{
        a{
          @include link(#dd5942, #707070, none, none);
        }
      }
    }
  }
  .news_container{
    .articles_container{
      margin: 0;
    }
    li.news:hover{
      // @include transition(background-color 200ms linear);
      // background-color: rgba(30, 173, 254, 0.2);
    }
    .news{
      padding-top: 10px;
      padding-bottom: 10px;
      &:nth-child(even){
        background-color: rgba(250, 250, 250, .9);
      }
      .news_img{
        float: left;
        padding-right: 10px;
        padding-top: 15px;
        a img{
          width: 65px;
          height: 45px;
        }
      }
      .news_header{
        line-height: 1.4em;
        font-size: 1.3em;
        margin-bottom: 0;
        a{
          @include link(#232019, black, none, underline);
          font-weight: 400;
        }
      }
      .news_summary{
        margin:0;
        line-height: 18px;
        font-size: 13px;
        a{@include link(#44433E, #44433E, none, none);}
      }

      .news_body{
        .similar_articles_row{
          margin-top: 10px;
          .similar_articles_for_show{
            li a{@include link(#232019, black, underline, none);}
          }
        }
      }
      .news_text{
        margin-top: 20px;
        color: black;
        text-align: justify;
        p{
          color: black;
        }
        a{
          @include link(#232019, #de2608, underline, none);
        }

        p, a{
          font-size: 14px;
          line-height: 160%;
          text-indent: 20px;
        }
      }
      .more, .date{
        a{
          @include link(#e94c17, #de2608, underline, none);
        }
      }
      .source, .tags{
        color: gray;
        a{
          // @include link(black, #de2608, underline, none);
          @include link(#7f7c75, #de2608, underline, none);
        }
      }
      .social{
        margin-top: 20px;
      }
    }
  }
}
