$logo_size: 69px;
.header_main{
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  position: relative;

  .logo_container{
    a{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
      &:active{
        text-decoration: none;
      }
    }
  }
  .site_name{
    vertical-align: middle;
    font-size: 1.9em;
    font-weight: 400;
  }
  .slogan{
    display: block;
    font-size: 0.45em;
    font-weight: 300;
    font-style: italic;
    position: relative;
    top: -3px;
    margin-left: 80px;
    line-height: 0px;
  }

  .search{
    padding-top: 29px;
    span.add-on{
      height: 30px;
      width: 25px;
      &:hover{
        cursor: pointer;
      }
      i{
        margin-top: 7px;
      }
    }
    input{
      width: 200px;
      margin-left: 11px;
      @include border-radius(0px);
      @include box-shadow(none);
      height: 30px;
      font-size: 16px;
    }
  }
  .contacts{
    font-size: 0.9em;
    a{
      color: #e94c17;
    }
  }
}
