.site_info{
  margin-left: 21px;
  margin-top: 6px;
}

.profile{
  margin-left: 21px;
  margin-top: 18px;
  padding: 0;
  .dropdown-toggle{
    @extend .google_button;
  }
  .caret{
    vertical-align: middle;
  }
  @include box-sizing(border-box);

  a{
    text-decoration: none;
  }
  .dropdown-menu{
    @include border-radius(0);
    li{display: block;}
    a{
      font-weight: 700;
      text-decoration: none;
      &:hover {
        background: none repeat scroll 0 0 #ED5E2F;
        color: white;
      }
    }
  }
}
