.sidebar{
  @include box-sizing(border-box);
  h2{
    font-weight: 300;
    text-align: center;
  }
  h3{
    margin-left: 20px;
    font-weight: 300;
  }
  @import 'sidebar/sources_main';
  @import 'sidebar/google_right_bar';
}
