.trends{
  .trend_list {
    background-color: #D9EDF7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    @include box-sizing(border-box);
  }
  .trend{
    @include inline-block;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  a{
    @include link(#707070, #dd5942, none, none);
    font-size: 1.3em;
    // letter-spacing: -1px;
    font-weight: 400;
    // margin-left: 15px;
    &.active{
      color: #dd5942;
    }
  }
}
