= simple_form_for [:admin, @keyword], :html => {:class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name, :label => "Имя", :as => :text
  = f.input :public_name, :label => "Показывать"

  = f.input :word_type, :label => "Тип"
  .form-actions
    - if params[:action] == 'edit'
      = f.button :submit, "Сохранить"
    - else
      = f.button :submit, "Создать ключевое слово"
