.row
  %h3.span18.offset1= "Ключевые слова - #{@keywords.count}"
.row
  %table.table.span18.offset1
    %tr
      %th Имя
      %th Действия
    - @keywords.each do |keyword|
      %tr
        %td= keyword.name
        %td
          = link_to "Изменить", edit_admin_keyword_path(keyword)
          = link_to "Удалить", admin_keyword_path(keyword), method: :delete
