.row
  .span18.offset1
    %h2 Авторизация

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification message: "Пожалуйста, обратите внимание на возникшие проблемы ниже:"
      .form-inputs
        = f.input :email, required: false, autofocus: true, label: "Почта"
        = f.input :password, required: false, label: "Пароль"
        = f.input :remember_me, label: "Запомнить меня", as: :boolean if devise_mapping.rememberable?

      .form-actions
        = f.button :submit, "Войти"

    = render "devise/shared/links"
