.news.row
  .span17.news_body
    %h3.news_header= @title
    .news_summary
    .news_text= @text
    .row
      .source.span8
        %a{href: "#{@url}", target: "_blank"}
          = @source_name
      .date.span5
        = @published_date
    .social.row

    - if @nested_articles.length > 0
      .row.similar_articles_row
        .row
          %h3.span8 Похожие статьи:
        %ul.row.similar_articles_for_show
          - for article in @nested_articles
            %li
              %a{href: "/#/#{article[0]}"}= article[1][0..100]
    .row.comments_block
      .span17
        %ul.nav.nav-tabs
          %li.active
            %a(href="#facebook_comments" data-toggle="tab") Facebook
          %li
            %a(href="#native" data-toggle="tab") Комментарии
        .tab-content#myTabContent
          #facebook_comments.tab-pane.active
            %fb:comments(href="http://kavigator.ru/articles/#{@id}" num_posts="20" width="680")
          #native.tab-pane.fade
            #comments.row
