%nav.categories.row
  %ul.navigation_local.span18.offset1
    %li= link_to 'Статьи', admin_articles_path
    %li= link_to 'Опубликованные', admin_published_articles_path
    %li= link_to 'Источники', admin_news_sources_path
    %li= link_to 'Категории', admin_categories_path
    %li= link_to 'Теги', admin_tags_path
    %li= link_to 'Тренды', admin_trends_path
    %li.btn-group
      %a.dropdown-toggle{"data-toggle" => "dropdown"}
        Еще
      %ul.dropdown-menu
        %li= link_to 'Сообщения', admin_messages_path
        %li= link_to 'Слова', admin_keywords_path
        %li= link_to 'Люди', admin_users_path
        %li= link_to 'Комментарии', admin_comments_path
