.sources_main
  %h2 Действия
  %ul.sources_list.unstyled
    %li
    %li= link_to "Новая статья", new_admin_article_path
    %li= link_to "Новый источник", new_admin_news_source_path
    %li= link_to "Новая категория", new_admin_category_path
    %li= link_to "Новое слово", new_admin_keyword_path
    %li= link_to "Новый тег", new_admin_tag_path
    %li= link_to "Новое сообщение", new_admin_message_path
    %li= link_to "Новый тренд", new_admin_trend_path
    %li= link_to "Покормить", feed_me_admin_articles_path
