= simple_form_for [:admin, @category], html: {class: 'form-horizontal' } do |f|

  = f.input :name, label: "Имя"
  = f.input :minimum, label: "Минимум"

  .form-actions
    - if params[:action] == "edit"
      = f.button :submit, 'Сохранить'
    - else
      = f.button :submit, 'Создать категорию.'
