.row
  %h3.span18.offset1= "Тренды - #{@categories.count}"
.row
  %table.table.span18.offset1
    %tr
      %th Имя
      %th Статей
      %th Действия
    - @categories.each do |cat|
      %tr
        %td= link_to cat.name, admin_category_path(cat)
        %td= link_to cat.articles.count, admin_category_path(cat)
        %td
          = link_to "Изменить", edit_admin_category_path(cat)
          = link_to "Удалить", admin_category_path(cat), method: :delete

