.sources_main{
  margin-bottom: 20px;
  hr{
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
  }
  a{
    @include link(#707070, #dd5942, none, none);
    letter-spacing: -1px;
    font-weight: 300;
    margin-left: 15px;
    &.active{
      color: #dd5942;
    }
  }
  a.news_source.all, a.category.all{
    font-size: 1.5em;
    margin-left: 21px;
  }
  .sources_list, .categories_list{
    margin-left: 6px;
    li{
      display: block;
      margin-top: 10px;
      font-size: 1.35em;
    }
  }
  .caret_down{
    font-size: 0.6em;
    vertical-align: middle;
  }
}
