@import 'bourbon';
@import 'my_mixins';
@import 'my_ajax_loader';
@import 'my_pagination';
@import 'my_buttons';
@import 'messages';
@import 'comments';
@import 'footer/footer';
@import 'open_sans';
@import 'jquery.lightbox';
@import 'toastr';
@import 'bootstrap_and_overrides';
@import 'my_common_styles';
@import 'chosen';
.container{
  @import 'container/profile';
  @import 'container/header_main';
  @import 'container/categories';
  @import 'container/trends';
  @import 'container/sidebar';
  @import 'container/content';
}

body{
  background: url(image-path('fabric_of_squares_gray.png'));
}
.main_section{
  background-color: white;
}
.back_block{
  display: none;
  a{
    display: block;
    height: 100%;
    left: -141px;
    position: absolute;
    width: 100px;
  }
}
.fix_height{
  position: relative;
}
.back_block{
  a{
    background-color: rgba(241, 247, 253, 0.6);
    &:hover{
      background-color: rgba(30, 173, 254, 0.6);
      @include transition(background-color 200ms linear);
    }
    span{
      margin-top: 200px;
      position: absolute;
      width: 100px;
      height: 100px;
      opacity: 0.6;
      @include background-image(url('/assets/back_button.png'));
    }
  }
}
.label.info{
  a{
    @include link(white, white, none, underline);
  }
}
@import 'styles_768_979';
@import 'styles_max_480';
@import 'styles_max_767';
@import 'other_news';
@import 'popup';
@import 'google_search_styles';
.ad3{
  margin-left: -8px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 85px;
}
.google_button{
  padding: 6px 16px;
  color: #fff;
  @include border-radius(2px);
  border-color: #3079ed;
  background-color: #4d90fe;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  @include background-image(linear-gradient(left top,left bottom,from(#4d90fe),to(#357ae8)));
  &:hover{
    border-color: #2f5bb7;
    background-color: #357ae8;
    @include background-image(linear-gradient(left top,left bottom,from(#4d90fe),to(#357ae8)));
    color:white;
  }
}
.feedback_container{
  text-align: right;
  margin-top: 17px;
  .feedback_button{
    @extend .google_button;
  }
}
.simple_form{
  textarea{
    width: 100%;
    min-height: 90px;
    height: 90px;
  }
  input[type=text]{
    width: 100%;
  }
}
