.comments > .new_comment .cancel_reply{ display: none; }
.comments_block{
  padding-top: 10px;
}
.comments{
  .comment{
    // width: 100%;
    margin-left: 10px;
    @include box-sizing(border-box);
    margin-top: 10px;
    .comment_body{
      .comment_content{
        .comment_deleted{
          font-style: italic;
        }
      }
    }
    .comment_info{
      margin-top: 4px;
      .user, .comment_date, .comment_actions{
        margin-left: 0px;
      }
      .user{
        float: left;
      }
      .comment_date{
      }
      .comment_actions{
        float: right;
        .destroy, .reply{
          float: right;
          margin-left: 10px;
        }
        .destroy{
        }
      }
    }
  }
  .new_comment{
    textarea{
      width: 500px;
      height: 100px;
    }
    .actions{
      margin-bottom: 30px;
      .submit_reply{
        // width: 70px;
      }
      .cancel_reply{
        width: 70px;
        margin-left: 10px;
      }
    }
  }
}
