.google_search{
  height: 59px;
}
.google_search .gsc-control-cse {
  padding-left: 0;
  padding-right: 0;

  .gsc-search-button input{
    margin-top: 0;
  }
}
tr .gsib_a{
  padding: 0;
  .gsc-input{
    @include box-shadow(none);
  }
}
