.message{
  margin-top: 10px;
  @include box-sizing(border-box);
  a{
    @include link(#3A87AD, #4A97BD, underline, none);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .message_divider{
    padding-top: 30px;
  }
}
