.ajax_loader {
  display: none;
  background: url("spinner_squares_circle.gif") no-repeat scroll center center transparent;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.247), 0 3px 5px rgba(0, 0, 0, 0.247);
  color: #000000;
  font-weight: bold;
  height: 50px;
  left: 44%;
  padding: 3px 6px;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 10000;
}
