a, li, div, input{
  font-family: 'Open Sans', Arial, sans-serif;
}

p{
  font-family: "Verdana",sans-serif;
}

a, a:active, a:hover, a:focus {
  outline: none;
}

a{
  @include link(#333333, #e94c17, underline, none);
  &:hover{
    @include transition(color 0.2s ease-in-out);
  }
}

ul{
  list-style: none outside none;
  li{@include inline-block;}
}
.non-visible{
  visibility: hidden;
}

.popup{
  display: none;
}
