@mixin icon_large($bkg_urlm, $icon_size) {
  @include background-image(url($bkg_urlm));
  @include background-size($icon_size);
  background-repeat: no-repeat;
  width: $icon_size;
  height: $icon_size;
}
@mixin link($color, $hover_color, $decoration, $hover_decoration){
  color: $color;
  text-decoration: $decoration;
  &:hover{
    color: $hover_color;
    text-decoration: $hover_decoration;
  }
}
