.pagination{
  a{
    @include link(#707070, #DD5942, underline, underline);
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-left-width: 0;
  }
  .next_page, .current, .gap, .previous_page{
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
  }
  .next_page, .current, .gap{
    border-left-width: 0;
  }
  .current{
    color: #dd5942;
  }
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
  background-color: #f5f5f5;
}
.pagination .active a,
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  background-color: transparent;
  cursor: default;
}
