.other_news{
  text-align: center;
  .news_img{
  }
  .news_title{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
  }
  .other_news_cell{
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  // height: 80px;
  a{
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  img{
    height: 80px;
  }
}
