.popup{
  background: #F4F4F4 none repeat-x scroll 0 0;
  background-clip: padding-box;
  border: 1px solid #E5E5E5;
  outline: 0;
  position: fixed;
  padding: 35px 24px 24px;
  z-index: 100004;
  left: 50%;
  top: 50%;
  color: #333;
  @include box-shadow(0 4px 16px rgba(0,0,0,.2));
  .close_button{
    text-align: right;
    position: absolute;
    background: #e94c17 url('icons/close-button.png') no-repeat center center;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
    @include transition(background-color 1000ms linear);
    &:hover{
      background-color: #D83C3C;
    }
  }
}
.input_control{
  margin-right: 0px;
  margin-bottom: 10px;
  position: relative;
  textarea, input[type=text]{
    @include box-shadow(none);
  }
  textarea, input[type=text]{
    display: block;
    border: 1px #bababa solid;
    width: 100%;
    padding: 4px 32px 6px 5px;
    background-color: #fff;
    outline: 0;
    margin-right: 32px;
    @include border-radius(0);
    @include box-sizing(border-box);
    &:focus{
      border-color: #000;
    }
  }
  textarea{
    min-height: 100px;
  }
  input[type=text]{
    min-height: 35px;
  }
  .button{
    background-color: #ccc;
    position: relative;
    border: 1px transparent solid;
    color: #353535;
    font-size: 14px;
    line-height: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    &.primary{
      background-color: #008287;
      color: #fff;
    }
    &:active{
      top: 1px;
      left: 1px;
    }
  }
}
.label{
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 400;
  &.info{
    background-color: #2d89ef !important;
    color: white;
  }
}
