@media (max-width: 480px) {
  .container{
    .header_main{
      margin-top: 10px;
      .slogan {
        margin-left: 0px;
        margin-top: 5px;
      }
      .site_name{
        font-size: 1.1em;
      }
      .logo{
        width: 50px;
      }
    }
    .categories .navigation_local li{
      display: block;
      text-align: left;
      &:last-child{
        float: none;
        text-align: left;
      }
    }
  }
}
