@media (min-width: 768px) and (max-width: 979px) {
  .container {
    .header_main{
      margin-top: 10px;
      .slogan {
        margin-left: 0px;
        margin-top: 5px;
      }
      .site_name{
        font-size: 1.2em;
      }
      .logo{
        width: 50px;
      }
    }
    .categories .navigation_local li a, .container .trends .navigation_local li a {
      font-size: 1.1em;
      line-height: 1.2em;
    }
    .feedback_container .feedback_button{
      padding: 6px 0;
    }
  }
}
