@media (max-width: 767px) {
  .container{
    .categories .navigation_local li{
      display: block;
      text-align: left;
      margin-top: 4px;
      &:last-child{
        float: none;
        text-align: left;
      }
    }
  }
}
