= simple_form_for [:admin, @user], html: {class: "form-horizontal"} do |f|
  = f.input :role, as: :select, include_blank: false, collection: [["Администратор", "administrator"], ["Модератор", "moderator"], ["Пользователь", "user"]], label: "Роль"
  .form-actions
    = f.submit "Изменить"
