.row
  .span17
    %h3.span6
      Пользователей:
      = @users.count
      %small
        Онлайн:
        = @users.inject(0){|sum, u| sum += u.online? ? 1 : 0 }
  .row
    .span17
      %table.table
        %tr
          %th Имя
          %th Роль
          %th Провайдер
          %th Онлайн?
          %th Действия
        - @users.each do |user|
          %tr(id="user_#{user.id}")
            %td= user.name
            %td= user.user_role
            %td= user.provider || "kavigator"
            %td= user.online? ? "online" : "offline"
            %td
              = link_to "Удалить", admin_user_path(user), method: :delete
              = link_to "Изменить", edit_admin_user_path(user)
