<form novalidate="novalidate" method="post" id="new_article_group" class="simple_form new_article_group" action="/admin/published_articles/group" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="gx2r+8MtL+pv16mLc0K43EdJhBm0sOHJGQMFKDdFxXk=" name="authenticity_token"></div>
  <input type="hidden" name="article_group[model_ids]" id="article_group_model_ids">
</form>
<div class="row">
  <a class="beautiful red action_button" href="#" id="group">Group</a>
</div>
<div class="row">
  <div class="span1">
    <input type="checkbox" value="76" name="model_ids_group[]" id="model_ids_group_">
  </div>
  <div class="span18">
    <div class="news row">
      <div class="row">
        <div class="news_img">
          <a href="/articles/76">
            <img src="http://www.yuga.ru/media/fk_anji_logo__maeecic.jpg">
          </a>
        </div>
        <h3 class="news_header"><a href="/articles/76">В Лиге Европы "Анжи" сыграет с "Ливерпулем", "Удинезе" и швейцарским "Янг Бойзом"</a></h3>
        <p class="news_summary span17">В Монако прошла жеребьевка группового этапа Лиги Европы</p>
      </div>
      <div class="row">
        <div class="show_similar span3">Похожих: 0</div>
        <div class="source span4"><a target="_blank" href="http://www.yuga.ru/news/271492/">Юга.ру</a></div>
        <div class="date span4">3 дня назад</div>
        <div class="tags span1">
          <a class="icon-comment" href="/articles/76"></a>
          <a href="/articles/76">0</a>
        </div>
        <div class="tags span1">&nbsp;</div>
        <div class="tags span3">&nbsp;</div>
        <div class="more span2"><a href="/articles/76">Дальше...</a></div>
      </div>
    </div>
    <li class="row">
      <div class="span11">
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=9">Экономика</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=10">Общество</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=11">Правопорядок</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=12">Политика</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=7">Культура</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/76/train?cat_id=8">Спорт</a>
      </div>
      <div class="span2"><form method="post" class="button_to" action="/admin/articles/76"><div><input type="hidden" value="delete" name="_method"><input type="submit" value="Удалить"><input type="hidden" value="QySeHjCYKuvuNqI3m+uTaOUXxrHcMjS3a2rX4QiRMoo=" name="authenticity_token"></div></form></div>
      <div class="span4"><a href="/admin/articles/76/classify">Классифицировать</a></div>
    </li>
  </div>
</div>
<div class="row">
  <div class="span1">
    <input type="checkbox" value="75" name="model_ids_group[]" id="model_ids_group_">
  </div>
  <div class="span18">
    <div class="news row">
      <div class="row">
        <div class="news_img">
          <a href="/articles/75">
            <img src="http://www.yuga.ru/media/kerimov__bk02wbg.jpg">
          </a>
        </div>
        <h3 class="news_header"><a href="/articles/75">"Чемпионат.com": Гинер, Керимов и Миллер не подавали заявлений о выходе из исполкома РФС</a></h3>
        <p class="news_summary span17">Информация о выходе из состава исполкома РФС владельца "Анжи", президента ЦСКА и председателя правления ОАО "Газпром" не подтвердилась</p>
      </div>
      <div class="row">
        <div class="show_similar span3">Похожих: 0</div>
        <div class="source span4"><a target="_blank" href="http://www.yuga.ru/news/271496/">Юга.ру</a></div>
        <div class="date span4">3 дня назад</div>
        <div class="tags span1">
          <a class="icon-comment" href="/articles/75"></a>
          <a href="/articles/75">0</a>
        </div>
        <div class="tags span1">&nbsp;</div>
        <div class="tags span3"><a href="/articles?cat_id=8">Спорт</a></div>
        <div class="more span2"><a href="/articles/75">Дальше...</a></div>
      </div>
    </div>
    <li class="row">
      <div class="span11">
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=9">Экономика</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=10">Общество</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=11">Правопорядок</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=12">Политика</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=7">Культура</a>
        <a rel="nofollow" data-method="post" href="/admin/articles/75/train?cat_id=8">Спорт</a>
      </div>
      <div class="span2"><form method="post" class="button_to" action="/admin/articles/75"><div><input type="hidden" value="delete" name="_method"><input type="submit" value="Удалить"><input type="hidden" value="QySeHjCYKuvuNqI3m+uTaOUXxrHcMjS3a2rX4QiRMoo=" name="authenticity_token"></div></form></div>
      <div class="span4"><a href="/admin/articles/75/classify">Классифицировать</a></div>
    </li>
  </div>
</div>
