:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32415528-1']);
  _gaq.push(['_setDomainName', 'kavigator.ru']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
%script(type="text/javascript" src="//vk.com/js/api/openapi.js?96")
:javascript
  VK.init({apiId: 3715832, onlyWidgets: true});
%script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5284c1a90106b81e")
:javascript
  addthis.layers({
    'theme' : 'transparent',
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'kavigator'},
        {'service': 'twitter', 'id': 'KavkazNavigator'},
        {'service': 'google_follow', 'id': '109208393303400245079'},
        {'service': 'vk', 'id': 'kavigator'},
        {'service': 'odnoklassniki_ru', 'id': 'kavigator'}
      ]
    },
    'share' : {
      'position' : 'left',
      'services' : 'facebook,twitter,vk,odnoklassniki_ru,more,facebook_like,google_plusone'
    },
    'whatsnext' : {},
    'recommended' : false
  });
