%nav.categories.row
  %ul.navigation_local.span18.offset1
    - if @filter
      %li
        - source_hash = @filter[:source_id].empty? ? {} : {source_id: @filter[:source_id].first}
        - active = @filter[:cat_id] ? nil : "active"
        = link_to "Все", articles_path(source_hash), class: "category #{active}"
      - @categories.each do |cat|
        %li
          - hash = source_hash.merge(cat_id: cat.id)
          - cls = 'active' if @filter[:cat_id] == cat.id
          = link_to cat.name, articles_path(hash), class: "category #{cls}"
    - else
      %li
        = link_to "Все", articles_path, class: "category active"
        - @categories.each do |cat|
          %li
            = link_to cat.name, articles_path(cat_id: cat.id), class: "category"
