.popup(id="feedback_popup")
  .row
    .span20
      %a.b-close.close_button{href: "#"}
  .row
    .span20
      %h2 Оставить отзыв
  .row
    .span20.input_control.textarea
      = label_tag "feedback_contacts", "Как можно с вами связаться? (не обязательно)"
      = text_field_tag "feedback_contacts", nil, id: "feedback_contacts"
  .row
    .span20.input_control.textarea
      = label_tag "feedback_text", "Сообщение"
      = text_area_tag "feedback_text", nil, id: "feedback_text"

  .row
    .span20.input_control.actions
      = submit_tag "Отправить отзыв", id: "feedback_submit", class: 'feedback_submit button primary'
      = submit_tag "Отмена", class: 'button b-close'
