<div class="google_right_bar">
  <% if additional_javascript_permitted %>
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-9441752684393970"
         data-ad-slot="2192085642"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
       style="display:inline-block;width:160px;height:600px"
       data-ad-client="ca-pub-9441752684393970"
       data-ad-slot="8900780446"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <% else %>
    <%= "&nbsp;".html_safe %>
  <% end %>
</div>
