<div class="span14 offset1 google_search">
  <script>
    (function() {
      var cx = '011011943640698266449:j82tjiui72m';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <div class="gcse-search"></div>
</div>
<div class="span4 feedback_container">
  <a class="feedback_button" href="#">Обратная связь</a>
</div>
<%= render 'feedback_popup' %>
