<% if additional_javascript_permitted %>
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-9441752684393970"
       data-ad-slot="1563180048"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>
