%header.header_main.row
  %h2.logo_container.span10.offset1
    %a{href: root_path}
      %img.logo{src: "/assets/icons/windows.png", alt: "Кавигатор"}
      %span.site_name Кавигатор
      %span.slogan Все новости Дагестана в одном месте
