.span5
  - if signed_in?
    .btn-group.profile
      %a.dropdown-toggle{"data-toggle" => "dropdown"}
        = current_user.name
        %span.caret
      %ul.dropdown-menu
        %li= link_to "Профиль", "#"
        %li= link_to "Выйти", destroy_user_session_path, method: :delete
        - if permitted_to? :edit, :admin_keywords
          %li= link_to "Управление", admin_root_path
  - else
    .btn-group.profile
      %a.dropdown-toggle{"data-toggle" => "dropdown"}
        Вход
        %span.caret
      %ul.dropdown-menu
        = render 'services'
        %li= link_to "Kavigator",   new_user_session_path
        %li.divider
        %li= link_to "Регистрация", new_user_registration_path
