%li= link_to "Twitter"  , user_omniauth_authorize_path(:twitter)
%li= link_to "Facebook" , user_omniauth_authorize_path(:facebook)
%li= link_to "Google"   , user_omniauth_authorize_path(:google_oauth2)
%li= link_to "Mail.ru"  , user_omniauth_authorize_path(:mailru)
%li= link_to "Yandex.ru", user_omniauth_authorize_path(:yandex)
%li= link_to "VKonakte" , user_omniauth_authorize_path(:vkontakte)
