.popup(id="shared_popup_#{article.id}")
  .row
    .span20
      %a.b-close.close_button{href: "#"}
  .row
    .span20
      %h2 Поделиться
  .row
    .span20.input_control.textarea
      = label_tag "short_text_#{article.id}", "Короткое сообщение"
      = text_area_tag "title", article.title + " | #Новости #Дагестан'а", id: "short_text_#{article.id}"
  .row
    .span20.input_control.textarea
      = label_tag "text_#{article.id}", "Сообщение"
      = text_area_tag "title", article.summary, id: "text_#{article.id}"
  .row
    .span20.input_control.textarea
      = label_tag "url_#{article.id}", "Ссылка"
      = text_field_tag "url", article_url(article), id: "url_#{article.id}"

  .row
    .span20.input_control.actions
      = submit_tag "Поделиться", id: "message_#{article.id}_submit", class: 'submit_share button primary'
      = submit_tag "Отмена", id: "message_#{article.id}_submit", class: 'button b-close'
