%nav.sources_main
  = link_to 'Источники <span class="caret_down">&#x25bd;</span>'.html_safe, "#", class: "news_source all active"
  %ul.sources_list.unstyled
    - if @filter
      %li
        - cat_hash = @filter[:cat_id] ? {cat_id: @filter[:cat_id]} : {}
        - active = @filter[:source_id].empty? ? "active" : nil
        = link_to "Все источники", articles_path(cat_hash), class: "news_source #{active}"

      - @news_sources.each do |source|
        %li
          - hash = cat_hash.merge(source_id: source.id)
          - active = @filter[:source_id].first == source.id ? "active" : nil
          = link_to source.name, articles_path(hash), class: "news_source #{active}"
    - else
      %li
        = link_to "Все источники", articles_path, class: "news_source active"
        - @news_sources.each do |source|
          %li
            = link_to source.name, articles_path(source_id: source.id), class: "news_source"
  %hr
  = link_to 'Категории <span class="caret_down">&#x25bd;</span>'.html_safe, "#", class: "category all active"
  %ul.categories_list.unstyled
    - if @filter
      %li
        - source_hash = @filter[:source_id].empty? ? {} : {source_id: @filter[:source_id].first}
        - active = @filter[:cat_id] ? nil : "active"
        = link_to "Все", articles_path(source_hash), class: "category #{active}"
      - @categories.each do |cat|
        %li
          - hash = source_hash.merge(cat_id: cat.id)
          - cls = 'active' if @filter[:cat_id] == cat.id
          = link_to cat.name, articles_path(hash), class: "category #{cls}"
    - else
      %li
        = link_to "Все", articles_path, class: "category active"
        - @categories.each do |cat|
          %li
            = link_to cat.name, articles_path(cat_id: cat.id), class: "category"
:javascript
  $('.sources_list').hide()
  $('.categories_list').hide()
