%nav.trends.row
  .span19.trend_list
    - @trends.each do |trend|
      .trend
        - cls = 'active' if @filter && @filter[:trend_id] == trend.id
        = link_to trend.name, articles_path(trend_id: trend.id), class: "trend #{cls}"
