!!!
%html(xmlns:fb="http://ogp.me/ns/fb#" lang="ru")
  %head
    %title= show_title
    = meta_tags.html_safe
    = yield :meta
    = favicon_link_tag "/favicon.ico?1"

    = stylesheet_link_tag    "application", media: "all"
    = jquery_include_tag :google # jQuery CDN
    = javascript_include_tag "application"
    - if additional_javascript_permitted
      = render 'additional_javascript'

    = csrf_meta_tags
  %body
    - if additional_javascript_permitted && Rails.env != 'test'
      = render 'facebook_sdk'
      = render 'yandex_metrics'
    .ajax_loader
    .container.main_section
      = render 'header'
      .row
        = render 'google_search'
        = render 'profile'
      .row
        .span19.fix_height
          .back_block
            %a{href: "/#index"}
              %span &nbsp;
          = render 'categories' if params[:controller] =~ /admin/i
          = render 'trends'
          = render 'flash_partial'
          = render 'messages'
          #notification-area
          - if params[:action] == 'index' && params[:controller] == 'articles' && additional_javascript_permitted
            .row
              .span18.offset1
                .ad3= render 'google_adsense_article'
          .content.row
            .news_container.span19
              = yield
        .sidebar.span5
          = render 'sources'
          = render 'google_adsense_right_bar'

    .footer
      .container
        = render 'footer'
