<% res = raw(@articles.collect {|article| render "admin/published_articles/article", article: article, categories: @categories}.join()) %>
$(".articles_container").append('<%= j res %>');
$(function() {
  $(window).off('scroll');
  $(window).scroll(function() {
    if ($(window).scrollTop() > $(document).height() - $(window).height() - 50) {
      window.current_page || (window.current_page = 1);
      window.current_page += 1;
      return $.getScript("/admin/published_articles.js?page=" + window.current_page);
    }
  });
});
