= simple_form_for ArticleGroup.new, url: group_admin_published_articles_path do |f|
  = f.hidden_field :model_ids
.row
  = link_to "Группировать", "#", class: "beautiful red action_button", id: "group"

%ul.articles_container
:javascript
  $.getScript("/admin/published_articles.js?page=1");
